@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #3c3c3c;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

nav ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: none;
}

button svg {
  width: 40px !important;
  height: 40px !important;
}

@media (max-width: 1200px) {
  nav ul {
    display: none;
  }

  button {
    display: block;
  }
}

nav ul.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background: #3c3c3c;
  width: 100%;
  align-items: center;
  border-top: 1px solid #fff;
}
nav ul.open li {
  padding: 10px 0;
}